
<p>
    <strong>&numero; {{ Issue }}</strong>
    <a href="{{ page.url }}" class="u-url u-uid un-link">
        <time class="dt-published">{{ isodate page.date }}</time></a>,
        
    {{#authors}}
        <a href="{{ ./url }}" class="p-author h-card">{{ name }}</a>
        {{~#unless @last}}, {{/unless}}
    {{/authors}}
</p>
