
<figure class="social-embed -twitter">
<figcaption>
    <span class="silo">Twitter</span> &middot;
    <a href="{{ twitterUrl url }}"><time 
        datetime="{{ isodatetime time }}">{{ datetime time }}</time></a>
</figcaption>
<blockquote>
    <span class="author"><a href="{{ twitterProfile url }}"
        ><b>{{ author }}</b> <span class="handle">{{ twitterHandle url }}</span></a></span>

{{ @partial-block }}

</blockquote>
</figure>
