---
title: This Week in HTMX
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/syntax-theme.css">
    <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
    <script src="/scripts/script.js" type="module"></script>

    <meta name="description" content="{{description}}">

    <meta property="og:title" content="{{title}}">
    {{#if Issue}}
        <meta property="og:type" content="article">
    {{/if}}
    <meta property="og:site_name" content="This Week in HTMX">

    {{#if (eq page.url '/')}}
        <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="Atom">
        <link rel="alternate" href="/feed.xml" type="application/feed+json" title="JSON Feed">
        <link rel="alternate" href="/" type="text/mf2+html" title="h-feed">
    {{/if}}
</head>
<body hx-boost="true">
    {{{ content }}}
    <style>
        .site-header a[href="{{page.url}}"] {
            text-decoration: underline;
        }
    </style>

    <footer class="site-footer">
        <nav>
            <a href="/">This Week in HTMX</a> |
            <a href="/contribute/">Contribute</a> |
            <a href="/support/">Support</a> |
            <a href="/feed/">Feed</a> |
            <a href="https://htmx.org">HTMX{{>external}}</a> |
            <a href="https://hyperscript.org">_hyperscript{{>external}}</a> |
            <a href="https://github.com/dz4k/this-week-in-htmx">GitHub{{>external}}</a> |
            <a href="https://htmx.org/discord">Discord{{>external}}</a>
        </nav>

        <p><small>&copy; 2021 This Week on HTMX Contributors</small></p>
    </footer>
</body>
</html>