---
title: This Week in HTMX
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/syntax-theme.css">
    <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
    <script src="/vendor/htmx.org/htmx.js" defer></script>
    <script src="/scripts/script.js" type="module"></script>

    <meta name="description" content="{{description}}">

    <meta property="og:title" content="{{title}}">
    {{#if Issue}}
        <meta property="og:type" content="article">
    {{/if}}
    <meta property="og:site_name" content="This Week in HTMX">

    {{#if (eq page.url '/')}}
        <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="Atom">
        <link rel="alternate" href="/feed.xml" type="application/feed+json" title="JSON Feed">
        <link rel="alternate" href="/" type="text/mf2+html" title="h-feed">
    {{/if}}
</head>
<body hx-boost="true">
    <header hx-preserve="true" class="site-header" id="site-header" data-overflow-nav>
        <nav>
            <a href="#main" class="skip-link">Skip navigation</a>
            <button type="button" class="menu-button">
                <span role="img" aria-label="Expand menu">&#x2630;</span>
            </button>
            <ul role="list" data-nav-list>
                {{#each Navigation}}
                    <li><a href="{{.}}">{{{@key}}}</a></li>
                {{/each}}
                <li><a href="/">Home</a></li>
                <li><a href="/contribute/">Contribute</a></li>
                <li><a href="/support/">Support</a></li>
                <li><a href="/feed/">Feed</a></li>
                <li><a href="https://htmx.org">HTMX{{>external}}</a></li>
                <li><a href="https://hyperscript.org">_hyperscript{{>external}}</a></li>
                <li><a href="https://github.com/dz4k/this-week-in-htmx">GitHub{{>external}}</a></li>
                <li><a href="https://htmx.org/discord">Discord{{>external}}</a></li>
            </ul>
        </nav>
    </header>
    <main id="main" hx-history-elt>
        {{{ content }}}
    </main>

    <style>
        .site-header a[href="{{page.url}}"] {
            text-decoration: underline;
        }
    </style>

    <footer class="site-footer">
        <p><small>&copy; 2021 This Week on HTMX Contributors</small></p>
    </footer>
</body>
</html>